
nav {
    background-color: lightblue;
    text-align: center;
}

ul {
    text-align: center;
}

li {
    background-color: lightgreen;
    display: inline-block;
    width: 200px;
    padding: 5px;
}