
nav {
    background-color: lightblue;
    text-align: center;
}

ul {
    text-align: center;
}

li {
    background-color: lightgreen;
    display: inline-block;
    width: 200px;
    padding: 5px;
}

.li-stad {
    display: block;
}


div {
    display: none;
}


.li-stad:hover {
    background-color: lightseagreen;
}

#ul-Lander {
    font-weight: bold;
}

#para {
    background-color: yellow;
}